/* CSS Custom Properties Definitions */
/* 
@font-face {
  font-family: "Doodle Speen";
  src: url("./assets/fonts/DoodleSpeen.ttf")
}

body {
  background-image: 
    radial-gradient(circle at 1px 1px, #DDD 1px, transparent 0),
    radial-gradient(circle at 1px 1px, #DDD 1px, transparent 0);
  background-position: 0 0, 0.4cm 0.75cm;
  background-size: 0.8cm 1.5cm;
} */